{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block container %}
<div class="container">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        </div>
    </header>
</div>
<section>
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ object|title }}</h5>
                        <p class="card-text">{{ object.description|slice:":100" }}</p>
                        <img src="{{ object.preview_img|mediapath }}" class="img-fluid"/>
                        <p class="fs-3 text mt-3">{{ object.price }} р.</p>
                        <a href="{% url 'catalog:view_product' object.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
