{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block container %}
<section>
    <div class="container">
        <h1 class="mt-5 mb-5">{{ object.name }}</h1>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="{{ object.preview_img|mediapath }}">
            </div>
            <div class="col-6">
                <p>{{ object.description }}</p>
                <p class="fs-3">{{ object.price }} р.</p>
                {% for version_item in object.version_set.all %}
                {% if version_item.is_active %}
                    <p style="color: green">Текущая версия: {{ version_item }}</p>
                    <hr>
                {% else %}
                    <p style="color: red">Версия: {{ version_item }}</p>
                    <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
