{% extends 'catalog/base.html' %}
{% block container %}
<section>
    <div class="container">
        <h1 class="mt-5 mb-5">Название товара</h1>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="http://placehold.it/1000x1000">
                </div>
                <div class="col-6">
                    <p>Описание пропекта</p>
                    <p class="fs-3">Цена товара</p>
                </div>
            </div>
    </div>
</section>
{% endblock %}
