{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block container %}
<div class="container">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        </div>
    </header>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
            </div>
            {% for object in object_list %}
            {% if object.is_active %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.product|title }}</h5>
                        <p class="card-text">{{ object.product.description|slice:100 }}</p>
                        <img src="{{ object.product.preview_img|mediapath }}" class="img-fluid"/>
                        <p class="fs-3 text mt-3">{{ object.product.price }} р.</p>
                        <a href="{% url 'catalog:view_product' object.pk %}" class="btn btn-primary">Подробнее</a>
                        <a href="{% url 'catalog:edit_version' object.pk %}" class="btn btn-primary">Изменить версию</a>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">Версия: {{ object.number }} / {{ object.name }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
